{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block stylesheets %}
   <style>
    .example-wrapper {margin:auto;display:block; max-width: 600px;position:absolute;top:30%; left:30%; font: 18px/1.5 sans-serif; }
    .example-wrapper { background-color: #ADD8E6; padding: 2px 2px; }
    h1{
        color:darkblue;font-weight:bold;
    }
</style>

<div class=" example-wrapper text-center">
    <h3>Hello {{controller_name}}!</h3>
    <div class="homepage">
    <h1>Welcome to Diamond Hotel</h1>
    <a href="{{path("room")}}"><h4>Book a room</h4></a>
    </div>

</div>

        
{% endblock %}
